In [ ]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [ ]:
with open('yelp_academic_dataset_business.json') as f:
    business_data = [json.loads(line) for line in f]


business_df = pd.DataFrame(business_data)

with open('yelp_academic_dataset_review.json','r') as f:
    review_data = [json.loads(line) for line in f]

review_df = pd.DataFrame(review_data)

with open('yelp_academic_dataset_user.json','r') as f:
    user_data = [json.loads(line) for line in f]

user_df = pd.DataFrame(user_data)

with open('yelp_academic_dataset_checkin.json','r') as f:
    checkin_data = [json.loads(line) for line in f]

checkin_df = pd.DataFrame(checkin_data)

with open('yelp_academic_dataset_tip.json','r') as f:
    tip_data = [json.loads(line) for line in f]

tip_df = pd.DataFrame(tip_data)

In [ ]:
engine = create_engine('sqlite///yelp.db')

def load_dataframe(df, table_name,engine):
    df.to_sql(table_name, engine,con =engine , if_exists='replace', index=False)

load_dataframe(business_df,'business',engine)
load_dataframe(review_df,'review',engine)
load_dataframe(user_df,'user',engine)
load_dataframe(checkin_df,'checkin',engine)
load_dataframe(tip_df,'tip',engine)

In [ ]:
import panmdas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime from datetime
import sqlite
import folium
from geopy.geocoders import Nominatim
from matplotlib.colors import LinearSegmentedColormap
from folium.plugins import HeatMap
from IPython.display import display, HTML
import warnings
warnings.filterwarnings('ignore')

In [ ]:
conn = sqlite.connect('yelp.db')

In [ ]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(tables)

In [ ]:
for table in tables:
  display(pd.read_sql_query(f"SELECT * FROM {table}", conn))

In [ ]:
pd.read_sql_query("SELECT count(*) FROM business", conn)

In [ ]:
pd.read_sql_query("""select business_id from business where lower(categories) like '%restaurants%""",conn)

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

# Function to remove outliers using Z-score
def remove_outliers(df, columns, z_thresh=3):
    """
    Removes outliers from specified columns in a DataFrame based on Z-score.

    Parameters:
    df (DataFrame): The input DataFrame.
    columns (list): The list of columns from which to remove outliers.
    z_thresh (float): The Z-score threshold to use for identifying outliers.

    Returns:
    DataFrame: The DataFrame with outliers removed.
    """
    for column in columns:
        z_scores = np.abs(stats.zscore(df[column].dropna()))
        filtered_entries = (z_scores < z_thresh)
        df = df[filtered_entries]
    return df

# Load data into DataFrame (assuming it's already loaded as business_df)
# Example columns to remove outliers from
columns_to_check = ['review_count', 'stars']

# Remove outliers from the specified columns
business_df_

In [ ]:
# Query to get the distribution of star ratings
star_distribution = pd.read_sql_query("""
    SELECT stars, COUNT(*) as count
    FROM business
    GROUP BY stars
    ORDER BY stars
""", conn)
print(star_distribution)

# Plotting the distribution of star ratings
plt.figure(figsize=(10, 6))
sns.barplot(x='stars', y='count', data=star_distribution)
plt.title('Distribution of Star Ratings')
plt.xlabel('Star Rating')
plt.ylabel('Count of Businesses')
plt.show()

In [ ]:
# Query to get the average review count by business category
average_review_count = pd.read_sql_query("""
    SELECT categories, AVG(review_count) as avg_review_count
    FROM business
    GROUP BY categories
    ORDER BY avg_review_count DESC
    LIMIT 10
""", conn)
print(average_review_count)

# Plotting the average review count by business category
plt.figure(figsize=(10, 6))
sns.barplot(x='avg_review_count', y='categories', data=average_review_count)
plt.title('Average Review Count by Business Category')
plt.xlabel('Average Review Count')
plt.ylabel('Business Category')
plt.show()

In [ ]:
# Query to get the top 10 cities with the most businesses
top_cities = pd.read_sql_query("""
    SELECT city, COUNT(*) as business_count
    FROM business
    GROUP BY city
    ORDER BY business_count DESC
    LIMIT 10
""", conn)
print(top_cities)

# Plotting the top 10 cities with the most businesses
plt.figure(figsize=(10, 6))
sns.barplot(x='business_count',

In [ ]:
# Query to get the top 10 business categories by count
top_categories = pd.read_sql_query("""
    SELECT categories, COUNT(*) as business_count
    FROM business
    GROUP BY categories
    ORDER BY business_count DESC
    LIMIT 10
""", conn)
print(top_categories)

# Plotting the top 10 business categories by count
plt.figure(figsize=(10, 6))
sns.barplot(x='business_count', y='categories', data=top_categories)
plt.title('Top 10 Business Categories by Count')
plt.xlabel('Business Count')
plt.ylabel('Business Category')
plt.show()

In [ ]:
# Query to get the average stars by city
average_stars_by_city = pd.read_sql_query("""
    SELECT city, AVG(stars) as avg_stars
    FROM business
    GROUP BY city
    ORDER BY avg_stars DESC
    LIMIT 10
""", conn)
print(average_stars_by_city)

# Plotting the average stars by city
plt.figure(figsize=(10, 6))
sns.barplot(x='avg_stars', y='city', data=average_stars_by_city)
plt.title('Top 10 Cities by Average Star Rating')
plt.xlabel('Average Star Rating')
plt.ylabel('City')
plt.show()

In [ ]:
# Assuming 'business' table has a 'year' column indicating the year the business was established

# Query to get the number of businesses established each year
business_openings_by_year = pd.read_sql_query("""
    SELECT strftime('%Y', date) as year, COUNT(*) as count
    FROM business
    GROUP BY year
    ORDER BY year
""", conn)
print(business_openings_by_year)

# Plotting the number of businesses established each year
plt.figure(figsize=(12, 6))
sns.lineplot(x='year', y='count', data=business_openings_by_year)
plt.title('Number of Businesses Established Each Year')
plt.xlabel('Year')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()